<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow" ng-if="ctrl.target.rawQuery">
      <textarea class="gf-form-input"
        rows="1"
        ng-model="ctrl.target.target"
        spellcheck="false"
        ng-blur="ctrl.onChangeInternal()" />
    </div>

    <div ng-if="!ctrl.target.rawQuery">
      <div class="gf-form gf-form--grow">
        <gf-form-dropdown model="ctrl.target.target"
          allow-custom="true"
          lookup-text="true"
          get-options="ctrl.getOptions($query)"
          on-change="ctrl.onChangeInternal()">
      </gf-form-dropdown>
      </div>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label">Display Name</label>
      <input type="text"
             class="gf-form-input"
             ng-model="ctrl.target.displayName"
             ng-blur="ctrl.onChangeInternal()"
             placeholder="">
      </input>
      <info-popover mode="right-absolute">
        name displayed in the legend (defaults to the query id)
      </info-popover>
    </div>

    <div class="gf-form">
      <label class="gf-form-label">Percentiles</label>
      <input type="text"
             class="gf-form-input"
             ng-model="ctrl.target.percentiles"
             ng-blur="ctrl.onChangeInternal()"
             placeholder="e.g. 50,99,99.9,99.99">
      </input>
      <info-popover mode="right-absolute">
        comma separated list of percentiles to fetch
      </info-popover>
    </div>

    <div class="gf-form">
      <label class="gf-form-label">Resolution</label>
      <input type="text"
             class="gf-form-input width-6"
             ng-model="ctrl.target.resolution"
             ng-blur="ctrl.onChangeInternal()"
             placeholder="">
      </input>
      <info-popover mode="right-absolute">
        Length of time (eg. 1m, 1h, 1d) represented by each "point" in the timeseries.
        Defaults to a computed value based on the size of the graph.
      </info-popover>
    </div>

    <div class="gf-form">
      <gf-form-switch class="gf-form" label="Include Traces" checked="ctrl.target.showExemplars" on-change="ctrl.refresh()">
      </gf-form-switch>
      <gf-form-switch class="gf-form" label="Ops Counts" checked="ctrl.target.showOpsCounts" on-change="ctrl.refresh()">
      </gf-form-switch>
      <gf-form-switch class="gf-form" label="Ops per sec" checked="ctrl.target.showOpsPerSec" on-change="ctrl.refresh()">
      </gf-form-switch>
      <gf-form-switch class="gf-form" label="Error Counts" checked="ctrl.target.showErrorCounts" on-change="ctrl.refresh()">
      </gf-form-switch>
      <gf-form-switch class="gf-form" label="Error Counts as Rate" checked="ctrl.target.showErrorCountsAsRate" on-change="ctrl.refresh()">
      </gf-form-switch>
      <gf-form-switch class="gf-form" label="Errors per sec" checked="ctrl.target.showErrorsPerSec" on-change="ctrl.refresh()">
      </gf-form-switch>
      <label class="gf-form-label">
        <a href="{{ctrl.linkToLightStep()}}" target="_blank" bs-tooltip="'Link to Graph in LightStep'">
          <i class="fa fa-share-square-o"></i>
        </a>
      </label>
    </div>

    <div class="gf-form gf-form--grow">
      <div class="gf-form-label gf-form-label--grow"></div>
    </div>
  </div>
</query-editor-row>
